.line {
    width: 40px;
    height: 3px;
    background-color: #333; /* Color of the lines */
    margin: 5px 0;
}

#slide1:hover{

    background-color: white;
}
#card{
    border:1px solid black;
    height:425px;
    width:300px;
    border-radius: 3px;
}
body{
    overflow: visible;
}
#banner{
    margin-top: 150px;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
}
#title{
    font-size:18px;
}
#gener{
    font-size: 18px;
}
#short-cards{
    height: 225px;
    width:300px;
    border: 1px solid black;
    border-radius: 3px;
}
#chevron-container2{
    height:40px;
    width:40px;
    border-radius: 50%;
    margin-top: 120px;
    background-color: rgb(172, 174, 176);
    border: 0px ;
    position:absolute;
    right: 50px;
    top:1500px;
}
#chevron-container1{
    height:40px;
    width:40px;
    border-radius: 50%;
    margin-top: 120px;
    background-color: rgb(172, 174, 176);
    border: 0px ;
    position:absolute;
    right: 50px;
    top:800px;
}
#chevron-container3{
   height: 40px;
   width: 40px;
   border-radius: 50%;
   margin-top: 120px;
   background-color: rgb(172, 174, 176);
   border: 0px;
   position: absolute;
   top:800px;
   left:145px;
}
#chevron-container4{
    Height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 120px;
    background-color: rgb(172, 174, 176);
    border: 0px;
    position: absolute;
    top:1500px;
    left:50px;
 }
#box{
    border: 1px solid white;
    height:550px;;
    border-radius: 8px;

}
a{
    color: black;;
}
#inner-box{
    border:1px solid black;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 40px;
    width: 400px;
    height: 60px;
    font-size: 20px;
    padding: 15px;
}
#serach{
    border: 1px thistle rgb(98, 95, 95);
    width:500px;
    height:40px;
    margin-left: -20px;
}
#symbol{
    position: absolute;
    z-index: 1;
    margin-top: 10px;
}
#menu{
    display: none;
    width:400px;
    position:fixed;
    right: 0px;
    background-color: white;
    height: 800px;
    position: absolute;
    z-index: 1;
}
#menu > #item{
    margin-top: 20px;
    padding: 3px;
}